p { color: rgb(133, 38, 227);}
body {background-color: rgba(66, 180, 169, 0);}
h1 {font-size: 3em;}
div {padding: 30px; margin: 15px;}
table {width: 90%; border-collapse: collapse;}
th, td { border: 2px solid #ddd; padding: 10px; text-align: left;}
th { background-color: grey;} 
form {display: flex;flex-direction: column;gap: 10px;}
label {font-weight: bolder;}
input[type="text"], input[type="email"] {padding: 10px;border: 2px solid #ddd;border-radius: 5px;}
input[type="submit"] {background-color: #767679;color: rgb(72, 70, 70);padding: 10px;border: none;border-radius: 4px;cursor: pointer;}
input[type="submit"]:hover {background-color: #1c4f5c;}