p {
    color: rgb(133, 38, 227);
}

body {
    background-color: rgba(66, 180, 169, 0);
}

h1 {
    color: blueviolet;
    font-size: 3em;
}

div {
    padding: 30px;
    margin: 15px;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: grey;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bolder;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #767679;
    color: rgb(72, 70, 70);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1c4f5c;
}

p {
    color: rgb(43, 192, 160);
}

body {
    background-color: rgb(72, 70, 70)
}


div {
    padding: 30px;
    margin: 15px;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #b26d6d;
    padding: 10px;
    text-align: left;
}

th {
    background-color: grey;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bolder;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 2px solid #915050;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #767679;
    color: rgb(72, 70, 70);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5e5f5e;
}

.transition-button {
    background-color: rgb(100, 188, 217);
    padding: 40px 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.transition-button:hover {
    background-color: rgb(234, 104, 104);
}

.animation-box {
        width: 50px;
        height: 50px;
        background-color: lightgreen;
        position: relative;
        animation: move 2s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 100px;
        }
      }

.pseudo-list li:nth-child(odd) {
    background-color: rgb(83, 17, 17);
}

.pseudo-list li:nth-child(even) {
    background-color: rgb(47, 16, 49);
}

.filter-image {
    filter: grayscale(100%);
    transition: filter 0.2s ease;
}

.filter-image:hover {
    filter: grayscale(20%);
}

.quote {
    content: 'El채m채 on Lifee';
    position: relative;
    padding-left: 20px;
    font-style: oblique;
}

.quote::before {
    content: 'El채m채 on Lifee';
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(204, 144, 13);
}

.filter-image {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.filter-image:hover {
    filter: grayscale(0%);
}