body {
  background-color: #ece7e7 
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}
p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(14px, 2vw, 18px); /* Dynamic font size */
  color: #070707;
}

body {
  background: linear-gradient(180deg, #000000 0%, #222223 50%, #060606 100%);
  color: #f0efef;
  font-family: "Arial", sans-serif;
}
h1 {
  color: #e8e8ec !important;
  font-size: 50px !important;
  font-family: "roboto", sans-serif !important;
}

.framed-img {
  max-width: 100% !important;
  height: auto !important;
  border-radius: 12px !important;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35) !important;
}

.parchment-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

/* Paper */
.parchment {
  width: 70%;
  max-width: 700px;
  padding: 40px;
  background: #eddeb0;
  color: #3b2f1c;
  font-family: "Times New Roman", serif;
  border-radius: 8px;
  box-shadow: 
    inset 0 0 30px rgba(0,0,0,0.15),
    0 20px 40px rgba(0,0,0,0.6);

  /* Opening animation */
  transform: scaleY(0);
  transform-origin: top;
  animation: openPaper 2s ease forwards;
}

/* Paper texture */
.parchment::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at top left, rgba(0,0,0,0.05), transparent 60%),
    radial-gradient(circle at bottom right, rgba(0,0,0,0.07), transparent 60%);
  pointer-events: none;
}

/* Text styling */
.parchment h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #000000;
}

.parchment p {
  font-size: 18px;
  line-height: 1.7;
  color: #222223;
}

/* Animation */
@keyframes openPaper {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.text-box {
  border: 2px solid #b59a5c;
  background: #f3e8c8;
  padding: 25px;
  border-radius: 8px;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.2);
}


